* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(49, 49, 172);
}

.calc-container {
    position: relative;
    border-radius: 15px;
    padding: 4em 2em;
    background-color: rgb(32, 30, 51);
    transition: transform 0.4s ease-in-out;
}

.minimized {
    transform: translateX(20vw) translateY(45vh) scale(0.1);
}

.maximized {
    width: 100%;
    height: 100%;
    border-radius: 0;
}

.calc-header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 1em 2em;
    border-radius: 15px;
}

.window-btn {
    text-align: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    color: transparent;
    border: none;
    font-size: 1.1em;
}

.window-btn:hover {
    color: black;
}

.close-btn {
    background-color: rgb(255, 42, 42);
}
.minimize-btn {
    background-color: rgb(248, 248, 45);
}
.maximize-btn {
    background-color: rgb(173, 238, 77);
}

.calc-display-container {
    padding: 2em;
    margin: 2em 0;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    text-align: right;
}
.calc-display {
    margin-top: 0.5em;
    font-size: 2.5em;
}

.calc-btn-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.btn {
    padding: 1em 1.5em;
    border-radius: 10px;
    border: none;
    margin: 0.2em;
    font-size: 1.15em;
    font-weight: 600;
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(43, 41, 65);
    color: white;
}

.btn:hover {
    filter: brightness(1.3);
}

.equals-btn {
    grid-row: 4/-1;
    grid-column: 5/-1;
    background-color: rgb(45, 129, 238);
}

.clear-btn {
    background-color: rgb(228, 68, 68);
}
